<?php

// Database configuration
$dbHost = 'localhost'; // Host of the database
$dbUser = '{{ lychee_db_user }}'; // Username of the database
$dbPassword = ''; // Password of the database
$dbName = '{{ lychee_db_database }}'; // Database name
$dbTablePrefix = ''; // Table prefix
